<!doctype html>
<html data-ng-app="Tictactoe">
  <head>
  	<link rel="stylesheet" href="css/bootstrap.css">
    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
     <script src="js/Controllers.js"></script>
     <style>
     	body {
     		margin-left: 50pt;
     	}
     </style>
  </head>
  <body>
    <h4>Tic-Tac-Toe</h4>
    <div ng-controller="TicTacToeCntl">
 <div>Players: Person (X),  Computer(O)</div>
 	<p>
 	<div class="nextPlayer" data-ng-show="!winner">Your Turn ({{nextMove}})</div>
    <div class="winner" data-ng-show="winner">{{winner}}</div>
    </p>
    <p>
      <table class="board" style="font-size:20pt;">
        <tr data-ng-repeat="row in board" ng-class-even="even" ng-class-odd="odd">
          <td ng-repeat="cell in row" data-ng-style="cellStyle" data-ng-click="dropPiece($parent.$index, $index)">
          	{{cell}}</td>
        </tr>
      </table>
      </p>
      <div> <button data-ng-click="reset()">Reset board</button></div>
    </div>
  </body>
</html>